* {
  box-sizing: border-box;
  background-color: rgb(43, 131, 99);
  text-align: center;
  margin: 0 0 0 0;
  align-items: center;
}

#profile-information {
  float: left;
}

#profile-information p {
  padding: 2px 20px;
  font-size: 12px;
}


.main-menu li {
  list-style: none;
}

#presentation {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 20px;
}

#description {
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 40px;
}

h1 {
  margin: 0 0 0 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  padding-bottom: 0.5rem;
  font-weight: bold;
}

#img-profile {
  width: 200px;
  border: 3px rgb(223, 222, 222) solid;
  border-radius: 50%;
  box-shadow: 2px 2px 1px rgb(89, 90, 90);
}

#logo-trybe {
  position: absolute;
  width: 150px;
  right: 10px;
  top: 0;
}

list {
  
  list-style: circle;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 30px;
}

ul {
  margin-top: 25px;
  font-weight: bold;
  color: rgb(152, 222, 240);
}

.git {
  width: 15px;
  position: absolute;
  right: 670px;
}

.linkedin {
  width: 15px;
  position: absolute;
  right: 670px;
}



.links-media,
a {
  margin-top: 20px;
  background-color: rgba(228, 222, 222, 0.2);
  color: aliceblue;
  text-decoration: none;
}

div {
  border: 2px solid green;
}